/*header*/
header{
	background-color: black;
	padding: 10px;
	padding-bottom: 20px;
}
header h1{
	color: white;
	text-align: center;
	font-size: 50px;
}
/*content*/
body{
	background-image: url("eagle.jpg");
	background-repeat: no-repeat;
  	background-position: center; 
	background-color: black;
	height: 1080px;
}
body div{
	text-align: center;
	font-size: 30px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

body p{
	height: 550px;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding to provide some space */
}

footer img {
    max-width: 300%; /* Ensure images don't exceed their container */
}

footer .left {
    order: 1; /* Place Hond on the left */
}

footer .middle {
    order: 2; /* Place Twitch in the middle */
}

footer .right {
    order: 3; /* Place Falko on the right */
}


/*Responsive*/
@media only screen and (max-width: 800px) {
	span.dagen{
		display: block;
		/*background-color: red;*/
	}
	span.uren{
		display: block;
		/*background-color: red;*/
	}
	span.minuten{
		display: block;
		/*background-color: red;*/
	}
	span.seconden{
		display: block;
		/*background-color: red;*/
	}
}
@media only screen and (max-width: 800px) {
	span{
		margin-top: 5px;
		margin-bottom: 5px;
	}/*header*/
header{
	background-color: black;
	padding: 10px;
	padding-bottom: 20px;
}
header h1{
	color: white;
	text-align: center;
	font-size: 50px;
}
/*content*/
body{
	background-image: url("eagle.jpg");
	background-repeat: no-repeat;
  	background-position: center; 
	background-color: black;
	height: 1080px;
}
body div{
	text-align: center;
	font-size: 30px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

body p{
	height: 550px;
}

/*Footer*/
footer a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 250px;
}

footer img#Hond {
    float: left;
}

footer img#Falko {
    float: right;
}
/*Responsive*/
@media only screen and (max-width: 800px) {
	span.dagen{
		display: block;
		/*background-color: red;*/
	}
	span.uren{
		display: block;
		/*background-color: red;*/
	}
	span.minuten{
		display: block;
		/*background-color: red;*/
	}
	span.seconden{
		display: block;
		/*background-color: red;*/
	}
}
@media only screen and (max-width: 800px) {
	span{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
